.card{
  margin-bottom: 1.5 * $spacer;
  border-radius: 0;

  @each $color, $value in $theme-colors{
    &.bg-#{$color} {
      border-color: darken($value, 12.5%);
      .card-header{
        background-color: darken($value, 3%);
        border-color: darken($value, 12.5%);
      }
    }
  }

  .card-header{
    h1, h2, h3, h4, h5, h6{
      margin-bottom: 0;
    }

    .app-dt-menu{
      .btn{
        &.btn-link{
          color: $black;
        }
        padding: 0 .75rem;
      }
    }

    padding: .25rem 1.25rem;
  }

  .card-body .container-fluid{
    padding: 0;
  }

  &.app-card-table {
    .card-body {

    }

    table{
      margin-bottom: 0;
    }

    .pagination{
      margin-bottom: 0;
      .page-item{
        &:first-child{
          .page-link{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }

        &:last-child{
          .page-link{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
    }
  }

  &.app-sheet{
    dl.sheet-block{
      &:last-child{
        border: 0;
      }

      margin: 2rem 0;
      padding-left: 0;
      padding-bottom: 2rem;
      @include borders($sheetList-borders);

      dt, dd{
        padding: 0;
      }

      dt{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

    }
  }
}

.text-white .text-muted{
  color: rgba(255, 255, 255, .6) !important;
}