.app-datatable{
  td{
    vertical-align: middle;
  }

  .custom-control{
    min-height: .75rem;
    margin-right: 0;
    padding-left: .75rem;
  }

  .icon{
    &:last-child{
      margin-right: 0;
    }
    font-size: 2em;
    margin-right: 0.5em;
  }
}