<button type="button" class="btn btn-default btn-sm table-row-delete td-action"
        data-toggle="tooltip" data-placement="top" title="<%= deleteTooltip %>">
    <i class="fa fa-lg fa-trash"></i>
</button>
<button type="button" class="btn btn-default btn-sm table-row-edit td-action"
        data-toggle="tooltip" data-placement="top" title="<%= editTooltip %>">
    <i class="fa fa-lg fa-pencil"></i>
</button>
<button type="button" class="btn btn-default btn-sm table-row-view td-action"
        data-toggle="tooltip" data-placement="top" title="<%= viewTooltip %>">
    <i class="fa fa-lg fa-search"></i>
</button>